
services:
  nginx:
    container_name: wfinstances-browser-nginx
    depends_on:
      - ui
    build:
      context: ./nginx
      args:
        PORT: ${NGINX_PORT}
        SERVER_NAME: ${NGINX_SERVER_HOSTNAME}
    secrets:
      - nginx_certificate
      - nginx_private_key
    ports:
      - ${NGINX_PORT}:${NGINX_PORT}
    networks:
      - nginx-network

  ui:
    container_name: wfinstances-browser-ui
    build: ./ui
    depends_on:
      - api
    environment:
      - PORT=8080
      - API_BASE_URL=http://api:8081
    ports:
      - 127.0.0.1:8080:8080
    networks:
      - nginx-network

  api:
    container_name: wfinstances-browser-api
    depends_on:
      - mongodb
    #      - wrench
    build:
      context: ./api
      args:
        WFINSTANCES_CRAWL_PERIOD_IN_DAYS: ${WFINSTANCES_CRAWL_PERIOD_IN_DAYS}
    environment:
      - MONGO_URI=mongodb://mongodb:27017/?retryWrites=true&w=majority
      - NGINX_SERVER_HOSTNAME=${NGINX_SERVER_HOSTNAME}
    volumes:
      - ${GITHUB_DATA_DIRECTORY}:/data/github
    ports:
      - 127.0.0.1:8081:8081
    networks:
      - nginx-network
    secrets:
      - ipinfo_token_file

  mongodb:
    container_name: wfinstances-browser-mongodb
    image: mongo:5.0.26
    ports:
      - 27017:27017
    environment:
      MONGO_INITDB_DATABASE: wf_instance_browser_db
    volumes:
      - ${MONGO_DATA_DIRECTORY}:/data/db
    networks:
      - nginx-network

#  wrench:
#    container_name: wfinstances-browser-wrench
#    build: ./wrench
#    ports:
#      - 127.0.0.1:2345:2345
#      - 127.0.0.1:1237:1237
#    networks:
#      - nginx-network

secrets:
  nginx_certificate:
    file: ${NGINX_SSL_CERTIFICATE_PATH:-/dev/null}
  nginx_private_key:
    file: ${NGINX_SSL_PRIVATE_KEY_PATH:-/dev/null}
  ipinfo_token_file:
    file: ${IPINFO_DOT_IO_TOKEN_FILE:-/dev/null}

volumes:
  db:

networks:
  nginx-network:
    name: nginx-network
    driver: bridge
